.header{
    display: flex;
    justify-content: space-between;
    }
    
.logo {
    width: 17rem;
    height: 3rem;
    margin-top: 5px;
    margin-left: 5px;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.header-menu>li:hover{
    cursor: pointer;
    color: var(--primary);
}